*{margin:0px;padding:0px;}
			img{border:0;}
			body{font-size:12px;font-family:"微软雅黑";color:#666;}
			/*hearder start*/
			.header{width:1200px;height:90px;margin:0 auto;padding-top:10px;}
			.header h1{float:left;}
			.header .h_search{float:left;margin-left:220px;}
			.header .h_search .search{width:450px;height:36px;border:2px solid #0099FF;position:relative;}
			.header .h_search .search .s_text{width:382px;height:33px;line-height:30px;font-size:14px;font-family:"微软雅黑";color:#666;border:0;color:#666;padding:2px 0 0 10px;}
			.header .h_search .search 
			a{display:block;width:58px;height:36px;background-color:#0099FF;position:absolute;top:0;right:0;}
			.header .h_search .search a 
			i{width:20px;height:20px;display:block;background:url("images/icon-search-white.png");margin:8px auto;}
			.header .login{float:right;line-height:36px;}
			.header .login a{text-decoration:none;color:#333;}
			/*hearder end*/
			/*banner start*/
			.banner{width:100%;height:350px;z-index:1;}
			.banner .b_adv{width:1200px;height:50px;margin:0 auto;position:relative;}
			.banner .b_adv a{position:absolute;top:0px;left:220px;}
			.banner .b_bg{width:100%;height:300px;background-color:#003366;z-index:1;}
			.banner .b_bg .b_con{width:1200px;height:300px;margin:0 auto;position:relative;z-index:2;}
			/*menu start*/
			.banner .b_bg .b_con .menu{width:220px;height:476px;background-color:#0477c0;position:absolute;top:-50px;left:0px;z-index:3;}	
			.banner .b_bg .b_con .menu ul li{list-style:none;height:70px;border-bottom:1px solid #fff;position:relative;}
			.banner .b_bg .b_con .menu ul li:hover{background:#188eee;}
			.banner .b_bg .b_con .menu ul .menu_all{background:#188eee;height:50px;}
			.banner .b_bg .b_con .menu ul .menu_all i{width:30px;height:50px;display:block;background:url("images/icon-hamburg.png") no-repeat center;float:left;}
			.banner .b_bg .b_con .menu ul .menu_all
			a{display:block;line-height:50px;text-decoration:none;color:#fff;font-size:15px;font-weight:600;}
			.banner .b_bg .b_con .menu ul .menu_all a:hover{text-decoration:underline;}
			.banner .b_bg .b_con .menu ul li h2{padding:10px 0 5px 15px;}
			.banner .b_bg .b_con .menu ul li h2 a{font-size:16px;color:#fff;text-decoration:none;font-weight:600;}
			.banner .b_bg .b_con .menu ul li h2 a:hover{text-decoration:underline;}
			.banner .b_bg .b_con .menu ul li h2 i{width:6px;height:12px;display:block;background:url("images/icon.png") -147px -163px;float:right;margin:10px 10px 0 0;}
			.banner .b_bg .b_con .menu ul li h3 a{font-size:14px;color:#97d2f7;text-decoration:none;padding-left:15px;font-weight:600;}
			.banner .b_bg .b_con .menu ul li h3 a:hover{text-decoration:underline;}
			.banner .b_bg .b_con .menu ul li .show_menu{display:none;width:446px;position:absolute;top:0px;left:220px;}
			.banner .b_bg .b_con .menu ul li .show{display:block;}
			/*menu end*/
			/*focus start*/
			.banner .b_bg .b_con	
			.focus{width:760px;height:300px;background-color:#000099;margin-left:220px;position:absolute;top:0px;left:0px;
			z-index:2;overflow:hidden;}
			.banner .b_bg .b_con .focus .focus_pic{position:relative;}
			.banner .b_bg .b_con
			.focus li{list-style:none;}
			.banner .b_bg .b_con
			.focus .f_btn{height:14px;position:absolute;bottom:20px;left:320px;z-index:4;}
			/*left:50%;margin-left:-70px;}*/
			.banner .b_bg .b_con
			.focus .f_btn ul{background:#000;display:inline-block;padding:7px 28px;opacity:0.4;filter:alpha(opacity=40);border-radius:15px;}
			.banner .b_bg .b_con
			.focus .f_btn ul li{width:8px;height:8px;border-radius:5px;border:2px solid #fff;float:left;list-style:none;margin:0px 2px;}
			.banner .b_bg .b_con
			.focus .f_btn ul .no{background:#fff;}
			.banner .b_bg .b_con
			.focus .f_ear{width:46px;height:70px;display:block;background:url("images/icon.png")  no-repeat;position:absolute;}
			.banner .b_bg .b_con
			.focus .pre{left:10px;top:110px;background-position:-74px 0px;}
			.banner .b_bg .b_con
			.focus .next{right:10px;top:110px;background-position:-123px 0px;}


			/*focus end*/
			/*tools start*/
			.banner .b_bg .b_con 
			.tools{width:220px;height:267px;float:right;position:absolute;top:10px;right:0px;margin-top:10px;z-index:3;
				opacity:0.5;filter:alpha(opacity=50);background:#000;
			}
			.banner .b_bg .b_con 
			.tools .t_news{width:220px;height:150px;z-index:-1;}
			.banner .b_bg .b_con 
			.tools .t_news ul{list-style:circle;margin-top:10px;}
			.banner .b_bg .b_con 
			.tools .t_news ul li{width:185px;height:34px;display:block;line-height:26px;color:#fff;padding-left:35px;}
			.banner .b_bg .b_con 
			.tools .t_news ul li a{text-decoration:none;color:#fff;font-size:16px;}
			.banner .b_bg .b_con 
			.tools .t_news ul li a:hover{text-decoration:underline;}
			.banner .b_bg .b_con 
			.tools .t_news .t_tools{width:220px;height:110px;position:relative;}
			.banner .b_bg .b_con 
			.tools .t_news .t_tools .down_qq{width:110px;height:120px;display:inline-block;text-align:center;text-decoration:none;float:left;}
			 .down_qq .i_1{width:44px;height:44px;background:url("images/icon.png") no-repeat -123px -59px;;display:block;margin:0px auto;padding-top:15px;}
			 .banner .b_bg .b_con 
			.tools .t_news .t_tools .down_qq:hover{background:#003366;color:#fff;}
			.banner .b_bg .b_con 
			.tools .t_news .t_tools .sys{width:110px;height:120px;display:inline-block;background:;float:right;}
			 .sys .i_2{width:44px;height:44px;background:url("images/icon.png") no-repeat -172px -59px;display:block;;padding-top:15px;margin-left:30px;}
			 .sys{width:110px;height:110px;text-decoration:none;}
			 .sys .sys_s{padding-left:30px;}
			 .banner .b_bg .b_con 
			.tools .t_news .t_tools .sys:hover{background:#003366;color:#fff;}
			.banner .b_bg .b_con 
			.tools .t_news .t_tools .t_ma{width:126px;height:126px;position:absolute;top:-2px;left:-3px;display:none;}
			/*tools end*/
			/*activities start*/
			.activities{width:1190px;height:126px;margin:0 auto;}
			.activities .a_img{width:990px;height:125px;margin-left:210px;}
			.activities .a_img a{width:326px;height:125px;}
			.activities .a_img img{border-bottom:1px solid #EAEAEA;}
			.activities .a_img .a_1{border-right:1px solid #EAEAEA;}
			
			/*activities end*/
			/*lesson start*/
			.lesson{width:1200px;height:271px;margin:20px auto;}
			.lesson .l_nav{height:40px;border-bottom:1px solid #EAEAEA;}
			.lesson .l_nav ul{float: left;width: 974px;line-height: 36px;margin-left:130px;}
			.lesson .l_nav a{width:90px;height:40px;text-decoration:none;font-size:16px;font-family:"微软雅黑";display:block;float:left;line-height:40px;color:#000;}
			
			.lesson .l_nav .l_live{border-bottom:2px solid #188EEE;}
			
			.lesson .l_nav ul li{list-style: none;float: left;width: 90px;text-align: center;font-size: 14px;}
			.lesson .l_nav ul li a{font-size:14px;color:#188EEE;}
			.lesson .l_all{height:230px;border:0px solid red;font-size:14px;padding-top:30px;}
			.lesson .l_all ul li{float:left;list-style:none;width:240px;height:200px;}
			.lesson .l_all .l_course{width:220px;height:190px;padding:10px 11px 8px 10px;}
			.lesson .l_all .l_course:hover{border:1px solid #dddddd;box-shadow: #ececec 0 1px 1px;}
			.lesson .l_all .l_course a{text-decoration:none;display:block;line-height:24px;color:#666;}
			.lesson .l_all .l_course .mf{color:#5FB41B;font-size:14px;}
			
			
			/*lesson end*/