/*css document*/

*{margin:0;padding:0;}
			body{background:#fff;font-size:16px;font-family:"微软雅黑";}
			input{
				outline:none;
				padding-left: 5px;
				border:1px solid #E9E9E9;
			}
			/*fixed start */
			/*f nav start*/
			#music{filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity: 0.2;opacity: 0.2;position:fixed;right:0;}
			#Fixed{background:#fff;width:100%;height:90px;border-top:2px solid #330000;border-bottom:1px solid #666;position:fixed;top:0px;z-index:3;}
			.fixed_r{width:50px;height:50px;position:fixed;right:30px;bottom:155px;background: #666;cursor:pointer;text-align:center;border-radius:3px;display:none;}
			.fixed_s{width:115px;height:168px;position:fixed;right:0px;bottom:0;}
			.fixed_r img{padding-top:13px;}
			.fixed_r:hover{background:#000;}

			.fixed{margin-left:20px;}
			
			.fixed .f_img{width:400px;height:72px;}
			.fixed .f_img .img2{margin:10px 0 10px 0;}
			.fixed .f_nav{height:80px;float:left;position:fixed;right:300px;top:6px;}
			.fixed ul li{margin-top:30px;height:21px;list-style:none;float:left;padding:1px 40px 0px 40px;}
			.fixed ul li a{line-height:21px;height:21px;text-decoration:none;font-size:16px;font-family:"微软雅黑";color:#666;font-weight:bolder;text-align:center;}
			.fixed ul .f_first{color:green;}
			.fixed ul li a:hover{color:#FF0066;}
			/*f nav end*/
			/*f load start*/
			.fixed .f_load{position:fixed;top:36px;right:20px;}	
			.fixed .f_load a{text-decoration:none;color:#666;font-family:"微软雅黑";font-weight:bold;}
			.fixed .f_load span{padding:0px 15px 0 15px;}
			.fixed .f_load a:hover{color:#FF0066;}

			/*f load end*/

			/* nav  start*/
			#all{
				width: 100%;
				height: 1160px;
			}
			#all .nav{width: 1275px;;height:58px;margin:110px 0 0 35px;background: #fff;border: 1px solid #E9E9E9;}

			#all .nav .left{float:left;width:43px;height:58px;margin-left:10px;border-right:1px solid #E9E9E9;}

			#all .nav .city{float:left;width:420px;height:58px;border-right:1px solid #E9E9E9;}
			
			#all .nav .city .c_p{margin-left:10px;width:400px;height:58px;line-height:29px;}
			#all .nav .city .c_p a{text-decoration:none;color:#666;font-family:"微软雅黑";display:block;float:left;padding-left:15px;}
			#all .nav .city .c_p a:hover{text-decoration:underline;color:#ccc;}

			#all .nav .area{float:left;width:800px;height:58px;}
			#all .nav .area .a_p{margin-left:10px;height:58px;line-height:29px;}
			#all .nav .area .a_p a{text-decoration:none;color:#666;font-family:"微软雅黑";display:block;float:left;padding-left:15px;}
			#all .a_img{margin:15px 0 0 35px;} 
			#all .nav .area .a_p a:hover{text-decoration:underline;color:#ccc;}
			/* nav end*/
			/* search  start*/
			#all .search{width:1275px;height:65px; border:1px solid #eaeaea;margin:10px 0 0 35px;}
			#all .search .s_input input{margin:13px 0 0 180px;width: 300px;height: 35px;text-align: left;line-height: 35px;font-size: 16px;font-family: "微软雅黑";color: #666;border-radius:7px;}
			#all .s_img{margin-left:100px;}
			#all .s_search{width:140px;height:40px;margin:12px 0 0 70px;float:left;}
			#all .s_search .s_sear{width:135px;height:37px;background:url("images/sear.gif");color:#fff;font-size:16px;font-family:"微软雅黑";padding-left:20px;border:0;cursor:pointer;} 
			/* search  end*/
			/* market  start*/
			#all .market{width:1275px;height:300px;margin:15px 0 0 35px;border:1px solid #eaeaea;border-bottom:0;}
			#all .market ul li{width:317px;border-bottom:1px solid  #eaeaea;border-left:1px solid #eaeaea;list-style:none;overflow:hidden;float:left;padding-top:20px;}
			#all .market ul li span{display:block;line-height:45px;height:45px;background:#f7f7f7;}
			#all .market ul li a{text-align:center;text-decoration:none;color:#000;}
			#all .market .m_block{position:relative;width:318px;text-align:center;z-index:1;float:left;background:#fff;overflow:hidden;}
			#all .market .m_display{display:none;width:317px;text-align:center;z-index:3;overflow:hidden;float:left;background:#fff;border-bottom:2px solid green;position:absolute;top:526px;}
			#all .market .m_display1{display:none;width:317px;text-align:center;z-index:3;overflow:hidden;float:left;background:#fff;border-bottom:2px solid green;position:absolute;top:671px;}
			#all .market .m_display span a{font-size:14px;color:#666;float:left;line-height:45px;margin-left:10px;display:block;text-align:center;}
			#all .market .m_display span a:hover{font-size:16px;color:#fff;font-family:"微软雅黑";background:red;border-radius:3px;}
			#all .market .m_display1 span a{font-size:14px;color:#666;float:left;line-height:45px;margin-left:10px;display:block;text-align:center;}
			#all .market .m_display1 span a:hover{font-size:16px;color:#fff;font-family:"微软雅黑";background:red;border-radius:3px;}
			#all .market ul .li1:hover .m_display{display:block;}
			#all .market ul .li2:hover .m_display1{display:block;}
			/* market end*/
			
			#all .content{width:1275px;height:472px;border:1px solid #eaeaea;margin:5px 0 0 35px;}
			#all .content ul {list-style:none;}
			#all .content .ul1 li{border-bottom:1px solid #EFEFEF;}
			#all .content .ul1{width:300px;float:left;border:1px solid #eaeaea;}
			#all .content .ul2{width:525px;float:left;border:1px solid #eaeaea;}
			#all .content .ul3{width:444px;float:left;border:1px solid #eaeaea;}
			
			#all .content .ul1 li a{text-decoration:none;color:#666;width:100%;height:45px;display:block;line-height:20px;padding-top:10px;}
			#all .content .ul1 li .a1{background:url("images/tubiao_1.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li .a2{background:url("images/tubiao_2.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li .a3{background:url("images/tubiao_3.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li .a4{background:url("images/tubiao_4.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li .a5{background:url("images/tubiao_5.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li .a6{background:url("images/tubiao_6.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li .a7{background:url("images/tubiao_7.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li .a8{background:url("images/tubiao_8.gif") no-repeat scroll 5px 14px;}
			#all .content .ul1 li a span{margin-left:60px;}
			#all .content .ul1 li span:hover{color:#FF3333;}
			
		
			#all .content .ul2 .ul2_head {width:524px;height:37px;}
			#all .content .ul2 .ul2_head li{border-bottom:1px solid #eaeaea;list-style:none;width:100%;height:30px;}
			#all .content .ul2 .ul2_head li span{float:right;}
			#all .content .ul2 .ul2_head li strong{float:left;padding-left:10px;}
			#all .content .ul2 .ul2_head a{text-decoration:none;color:#666;width:100%;height:30px;line-height:30px;display:block;float:left;}
			#all .content .ul2 .ul2_head a:hover{color:#000;}

			#all .content .ul3 li{border-bottom:1px solid #eaeaea;list-style:none;width:100%;height:30px;}
			#all .content .ul3 li span{float:right;}
			#all .content .ul3 li strong{float:left;margin-left:10px;}
			#all .content .ul3 li a{text-decoration:none;color:#666;width:100%;height:30px;line-height:30px;display:block;float:left;}
			#all .content .ul3 .ul3_head{width:444px;height:29px;border-bottom:1px solid red;line-height:29px;background:#FF6633;color:#fff;margin:7px 0 0 0;border-radius:3px;}
			#all .content .ul3 li a:hover{color:#000;}
			#foot .f_foot{width:1123px;height:100px;text-align:center;line-height:50px;margin:20px 0 0 90px;}
			#foot .f_foot a{text-decoration:none;color:#666;}
			#foot .f_foot a:hover{color:red;}